<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sHome">
	<select id="sHomeList" parameterType="map" resultType="com.sp.lms.sHome.SHome">
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT l.lectureNum, l.userId, userName, lectureName, lectureInfo, major,
						year,semester,day,time,l.regDate,midSDate,finSDate, NVL(a.status, 0) status
				FROM lecture l
				JOIN member m ON l.userId = m.userId
				LEFT OUTER JOIN lectureApply a ON l.lectureNum = a.lectureNum
			) tb WHERE ROWNUM &lt;= #{end}
		) WHERE rnum &gt;= #{start}
	</select>
	
	<select id="sHomeCount" resultType="integer">
		SELECT NVL(COUNT(*), 0) 
		FROM lecture 
	</select>
	
	<insert id="addLecture" parameterType="map">
		INSERT INTO lectureApply(lectureApplyNum, userId, lectureNum, status)
		VALUES (lectureApply_seq.NEXTVAL, #{userId}, #{lectureNum}, 1)
	</insert>
</mapper>